html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212529;
  background-color: white;
  letter-spacing: 1px;
}

:root {
  /* --primary-color: #f97c69;
  --secondary-color: #7f67f8;
  --header-color: #363d41;
  --white-text: white;
  --gray-text: #777777;
  --black-text: black; */
}

button {
  cursor: pointer;
}

ul,
ol,
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  color: #000000;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  font-size: 24px;
  position: absolute;
  top: 35%;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -3px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -3px;
}

header .myNavBar .myNavBar__left {
  display: flex;
}

header .myNavBar .myNavBar__left .form-search__group {
  margin-left: 25px;
  margin-top: 5px;
  position: relative;
}

header .myNavBar .myNavBar__left .form-search__group .form-search__icon {
  position: absolute;
  z-index: 5;
  top: 6px;
  left: 10px;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  fill: #95979d;
}

header .myNavBar .myNavBar__left .form-search__group .form-search__input {
  font-size: 15px;
  padding-top: 9px;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  padding-left: 32px;
}

header .myNavBar .myNavBar__right {
  display: flex;
  justify-content: flex-end;
}

header .myNavBar .myNavBar__right .button-green-text {
  margin-top: 5px;
}

header .dropDown_navBar {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
  border-top: 1px solid #e4e5e7;
  border-bottom: 1px solid #e4e5e7;
}

header .dropDown_navBar .btn {
  border-radius: 0;
  padding-bottom: 3px;
}

header .dropDown_navBar .btn a {
  color: #95979d;
  text-decoration: none;
}

header .dropDown_navBar .btn a:hover,
header .dropDown_navBar .btn a:active,
header .dropDown_navBar .btn a:focus {
  border-bottom: 3px solid #19a463;
}

header .dropDown_navBar .btn:focus {
  box-shadow: none;
}

header .dropDown_navBar .dropdown-menu_content {
  justify-content: space-between;
  padding-right: 30px;
}

.banner-top {
  position: relative;
}

.banner-top .carousel {
  z-index: -99;
  /* keeps this behind all content */
}

.banner-top .carousel .carousel-inner .carousel-item {
  position: fixed;
  width: 100%;
  height: 750px;
  transition: opacity 1s;
}

.banner-top .carousel .carousel-inner .one {
  background: url(../../img/banner-top-1.jfif);
  background-size: cover;
  background-position: center;
}

.banner-top .carousel .carousel-inner .one p {
  color: white;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.banner-top .carousel .carousel-inner .two {
  background: url(../../img/banner-top-5.jfif);
  background-size: cover;
  background-position: center;
}

.banner-top .carousel .carousel-inner .two p {
  color: white;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.banner-top .carousel .carousel-inner .three {
  background: url(../../img/banner-top-3.jfif);
  background-size: cover;
  background-position: center;
}

.banner-top .carousel .carousel-inner .three p {
  color: white;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.banner-top .banner-top__content {
  position: absolute;
  width: 50%;
  margin-top: 18%;
  left: 6%;
  z-index: 1;
}

.banner-top .banner-top__content h1 {
  padding-bottom: 24px;
  color: white;
  line-height: 56px;
  font-size: 48px;
}

.banner-top .banner-top__content h1 i {
  font-weight: 500;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.banner-top .banner-top-searchBar .form-search__group {
  position: relative;
}

.banner-top .banner-top-searchBar .form-search__group .form-search__icon {
  position: absolute;
  z-index: 5;
  top: 6px;
  left: 10px;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  fill: #95979d;
}

.banner-top .banner-top-searchBar .form-search__group .form-search__input {
  font-size: 15px;
  padding-top: 9px;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  padding-left: 32px;
}

.banner-top .banner-top-popular {
  display: flex;
  color: white;
  padding-top: 24px;
}

.banner-top .banner-top-popular ul {
  margin-left: 20px;
  display: flex;
}

.banner-top .banner-top-popular ul li {
  display: flex;
  margin-right: 12px;
  white-space: nowrap;
}

.banner-top .banner-top-popular ul li a {
  background-color: transparent;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  padding: 1px 12px 0;
  border: 1px solid #fff;
  border-radius: 40px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: 13px;
}

.company {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 96px;
  align-items: center;
  justify-content: center;
}

.company span {
  color: #c5c6c9;
  font-size: 14px;
  font-weight: 600;
}

.company ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company ul li {
  padding-left: 60px;
}

.company ul li img {
  display: block;
  height: 60px;
  margin-top: 15px;
}

.service {
  width: 95%;
  margin: 0 auto;
}

.service h2 {
  padding-bottom: 25px;
  font-size: 32px;
  line-height: 120%;
}

.service .service__carousel .item {
  position: relative;
  margin: 0 10px;
}

.service .service__carousel .item h4 {
  position: absolute;
  z-index: 1;
  color: white;
  padding: 16px;
  font-size: 24px;
  line-height: 130%;
}

.service .service__carousel .item h4 small {
  font-size: 60%;
}

.button-white-text {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 20px;
  cursor: pointer;
}

.button-white-text:hover {
  color: #ffffff;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
}

.button-green {
  display: block;
  border: none;
  border-radius: 0 3px 3px 0;
  color: #ffffff;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 20px;
  cursor: pointer;
}

.button-green:hover {
  color: #ffffff;
  background-color: #19a463;
  border: 1px solid #19a463;
}

.button-green-text {
  color: #19a463;
  background-color: transparent;
  border: 1px solid #19a463;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 20px;
  cursor: pointer;
}

.button-green-text:hover {
  color: #ffffff;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
}
/*# sourceMappingURL=main.css.map */