.company {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 96px;
  align-items: center;
  justify-content: center;
  element {
	display: flex;
	justify-content: center;
	align-items: center;
}
}
