.company {
  display: flex;
  back
  margin: 0 auto;
  margin-bottom: 96px;
  align-items: center;
  justify-content: center;
  span {
    @include styleText($color-gray-1, $fs-1, $fw-1);
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding-left: 60px;
      img {
        display: block;
        height: 60px;
        margin-top: 15px;
      }
    }
  }
}
