footer {
  padding-top: 64px;
  padding-bottom: 24px;

  .footer-container {
    width: 95%;
    margin: 0 auto;
    a {
      color: #7a7d85;
    }
  }
  .footer-item:first-child {
    padding-left: 20px;
  }
  .footer-item {
    li:first-child {
      color: ;
      font-weight: 700;
    }
    li {
      padding-bottom: 16px;
    }
    small {
      color: #b5b6ba;
      font-size: 14px;
      display: block;
    }
  }

  .bottom {
    .bottom__left {
      p {
        display: flex;
        align-items: center;
      }
      span {
        margin-top: 5px;
        margin-left: 20px;
      }
    }
    .bottom__right {
      display: flex;
      justify-content: flex-end;
      ul {
        display: flex;
        justify-content: space-around;
        li {
          padding-right: 30px;
          font-size: 25px;
        }
      }
    }
  }
}
