.footer-container {
  width: 95%;
  margin: 0 auto;
  a {
    color: #7a7d85;
  }
}
.footer-item:first-child {
  padding-left: 20px;
}
.footer-item {
  li:first-child {
    color: #404145;
    font-weight: 700;
  }
  li {
    padding-bottom: 16px;
  }
  .footer-package .footer-collapsible.fit-collapsible .fit-collapsible-content small {
    color: #b5b6ba;
    font-size: 14px;
    display: block;
}
}
