.footer-container {
  width: 95%;
  margin: 0 auto;
  a {
    padding-bottom: 16px;
    color: #7a7d85;
}
  }
  .footer-item:first-child {
    padding-left: 20px;
  }
  .footer-item {
    li:first-child {
    }
  }
}
