.myNavBar {
  .myNavBar__left {
    display: flex;
    .form-search__group {
        margin-left:25px
      margin-top: 5px;
      position: relative;
      .form-search__icon {
        position: absolute;
        z-index: 5;
        top: 6px;
        left: 10px;
        display: inline-block;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        fill: $color-gray-2;
      }
      .form-search__input {
        font-size: 15px;
        padding-top: 9px;
        border-right: 0;
        border-radius: 3px 0 0 3px;
        padding-left: 32px;
      }
    }
  }
  .myNavBar__right {
    display: flex;
    justify-content: flex-end;
    .button-green-text {
      margin-top: 5px;
    }
  }
}
