header {
  .myNavBar {
    height: 80px;
    .myNavBar__left {
      display: flex;
      .form-search__group {
        margin-left: $mg-1;
        margin-top: $mg-0;
        position: relative;
        display: none;
        .form-search__icon {
          position: absolute;
          z-index: 5;
          top: $tbrl-1;
          left: $tbrl-2;
          display: inline-block;
          background: none;
          border: none;
          padding: 0;
          margin: 0;
          fill: $color-gray-2;
        }
        .form-search__input {
          font-size: 15px;
          padding-top: $pd6;
          border-right: 0;
          border-radius: 3px 0 0 3px;
          padding-left: $pd-7;
        }
        .button-green {
          padding: $pd-9 $pd-3;
        }
      }
    }
    .myNavBar__right {
      display: flex;
      justify-content: flex-end;
      .button-green-text {
        margin-top: 5px;
      }
    }
  }
  .dropDown_navBar {
    display: flex;
    justify-content: space-evenly;
    padding: 0 $pd-1;
    border-top: 1px solid $color-gray-0;
    border-bottom: 1px solid $color-gray-0;
    .btn {
      border-radius: 0;
      padding-bottom: 3px;
      a {
        color: $color-gray-2;
        text-decoration: none;
      }
      a:hover,
      a:active,
      a:focus {
        border-bottom: 3px solid $color-green-5;
      }
    }

    .btn:focus {
      box-shadow: none;
    }

    .dropdown-menu_content {
      justify-content: space-between;
      padding-right: $pd-7;
    }
  }

  @include responsive("large") {
    .myNavBar {
      .myNavBar__right {
        .language,
        .money {
          display: none;
        }
        .navbar-nav {
          flex-direction: row;
          li {
            margin-right: $pd-3;
          }
        }
      }
    }
  }
}
