.project {
  .project__carousel {
    .owl-item img {
      display: block;
      width: 100%;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
      transition: opacity 0.3s ease-in-out;
    }

element {
	\.logged-out-homepage\ \.made-on-fiverr\ \.project-card\ \.project-info\ \{\ display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 16px 0 12px 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
  }
}
