.project {
  .project__carousel {
    .owl-item img {
      display: block;
      width: 100%;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
