.project {
  background-color: #f5f5f5;
  .project__container {
    position: relative;
    .see-more-link {
      position: absolute;
      top: 10px;
      right: 15px;
    }
    .project__carousel {
      .owl-item {
        img {
          display: block;
          height: 237px;
          width: 100%;
          object-fit: cover;
          border-radius: 4px 4px 0 0;
          transition: opacity 0.3s ease-in-out;
        }

        .project__avatar {
          display: flex;
          padding: 16px 0 12px 16px;
          box-sizing: border-box;

	box-shadow: 0 .14px 2.29266px rgba(0,0,0,.03231),0 .37px 4.42626px rgba(0,0,0,.04769),0 3px 7px rgba(0,0,0,.09);
	background-color: #fff;
	border-radius: 4px;
}
          img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: 10px;
          }
          a {
            display: block;
            color: #404145;
          }
          a:first-child {
            font-weight: 700;
          }
        }
      }
    }
  }
}
