html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: #62646a;
  background-color: white;
  letter-spacing: 1px;
}

:root {
  /* --primary-color: #f97c69;
  --secondary-color: #7f67f8;
  --header-color: #363d41;
  --white-text: white;
  --gray-text: #777777;
  --black-text: black; */
}

button {
  cursor: pointer;
}

ul,
ol,
li,
a,
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

h2 {
  font-size: 2rem;
  font-size: 32px;
  line-height: 120%;
  font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #404145;
  padding-bottom: 24px;
}
