//Color
$color-green-0: #1dbf73;
$color-green-1: #1cbf73;
$color-green-2: #1fd0b6;
$color-green-3: #023a15;
$color-green-4: #003912;
$color-green-5: #19a463;
$color-blue-0: #17384c;
$color-blue-1: #122231;
$color-blue-2: #cddcf2;
$color-blue-3: #3860be;
$color-blue-4: #4a73e8;
$color-blue-5: #584aff;
$color-blue-6: #0d084d;
$color-gray-0: #e4e5e7;
$color-gray-1: #c5c6c9;
$color-gray-2: #95979d;
$color-gray-3: #62646a;
$color-gray-4: #404145;
$color-pink-0: #b64762;
$color-brown-0: #7d1a00;
$color-brown-1: #540e1f;
$color-black-0: #000000;
$color-black-2: #000000;
$color-white-0: #ffffff;

//Dark Color
$color-dark-0: #152e4d;
$color-dark-1: #061325;
$color-dark-2: #344050;
$color-dark-3: #9da9bb;
$color-dark-4: #0e1c2f;
$color-dark-5: #d8e2ef;
$color-dark-6: #132238;

//font-size
$fs-0: 13px;
$fs-1: 14px;
$fs-2: 18px;
$fs-3: 24px;
$fs-4: 36px;
$fs-5: 40px;
$fs-6: 50px;

//font-weight
$fw-0: normal;
$fw-1: 600;
$fw-2: 700;
$fw-3: 900;

//line-height
$line-height-0: 1.43;

//margin
$mg-0: 5px;
$mg-1: 25px;
$mg-2: 20px;
$mg-3: 32px;
$mg-4: 40px;

//padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 25px;
$pd-5: 32px;
$pd-6: 9px;
$pd-7: 30px;
$pd-8: 18px;

//width
$wd-0: 350px;

//border-radius
$border-radius: 2px;
$border-radius-0: 34px;
$border-radious-1: 0 3px 3px 0;

//height
$h-1: 80px;
$h-2: 750px;

//top-bottom-right-left
$tbrl-1: 6px;
$tbrl-2: 10px;
$tbrl-3: 30px;

// break points
$breakpoints: (
  "screen-1": 1350px,
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
);
